@import "../../common/style/style.scss";

.main {
    display: flex;
    flex-direction: row;
    max-width: 1020px;
    margin:0 auto;

    .registration-block {
        align-self: center;
    }

    p {
        font-size: 43px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 50px;
    }

    span {
        color: $primary-color;
        font-size: 63px;
        letter-spacing: 0px;
    }

    //buttons

    .buttons-place{
        margin-top: 20px;

    .button{ 
        display: inline-block;
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        padding: 10px 20px;
        cursor: pointer;


        //text in buttons
        span {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.61px;
        text-align: center;
        color: #ffffff;
        }

        //border-radius for buttons

        &:last-child {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
        }
        &:first-child {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
        }
        &:hover {
            background-color: $primary-color;
        }
    }
}

    //apply form with input

    .apply {
        margin:15px 0 28px 0;
        
        input {
        width: 332px;
        height: 48px;
        padding: 0;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
        text-indent: 10px;

            &:focus {
            outline: none;
            }
    
        }
    }

    //promocode section

    .promocode {
        padding-bottom: 40px;
        
        span {
            color: $white-color;
            font-size: 14px;
            letter-spacing: 0.61px;
            font-weight: bold;
        }

        .promocode-button{
            background-color: $primary-color;
            display: inline-block;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            margin-left: 10px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
    }

    //agreement text

    .agreement-text {
        margin-left: 30px;
        max-width: 300px;
        p {
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 0.44px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
        }

        span {
            font-size: 10px;
            letter-spacing: 0.44px;
            color: $white-color;
            text-decoration: underline;
        }
    }

    //custom checkbox

    .agreement {
        display: flex;
    }

    .container {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      
      
      /* Hide the browser's default checkbox */
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }
      
      /* On mouse-over, add a grey background color */
      .container:hover input ~ .checkmark {
        background-color: #ccc;
      }
      
      /* When the checkbox is checked, add a blue background */
      input:checked ~ .checkmark {
        background-color: $primary-color;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

    }
    //image

    .img-place{ 
        text-align: center;
        
        img {
        max-width: 558px;
        width: 100%;
        height: auto;
        }
    }

}