@import "../../common/style/style.scss";

.main {
    display: flex;
    flex-direction: row;
    max-width: 1020px;
    margin:0 auto;

    .registration-block {
        align-self: center;
    }

    p {
        font-size: 43px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 50px;
    }

    span {
        @extend %theme-color;
        font-size: 63px;
        letter-spacing: 0px;
    }

    .button{ 
        display: inline-block;
        border-radius: 100px;
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        
        span {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.61px;
        text-align: center;
        color: #ffffff;
        }
    }

    .img-place{ 
        text-align: center;
        
        img {
        max-width: 558px;
        width: 100%;
        height: auto;
        }
    }

}