.logo {
    display: flex;
    padding-top: 40px;
    padding-bottom:150px;

    a {
        text-decoration: none;
        color: white;
        margin-right: 20px;
    }   
    p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        font-weight: 700;
        font-style: italic;
        line-height: 1.17;
        letter-spacing: 0.90px;
        color: #ffffff;
    }
    .second-p {
        font-weight: normal;
    }
    .slogan {
        padding: 5px;
    }
}


